<h1>Listing registraion_roles</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @registraion_roles.each do |registraion_role| %>
      <tr>
        <td><%= registraion_role.name %></td>
        <td><%= registraion_role.email %></td>
        <td><%= link_to 'Show', registraion_role %></td>
        <td><%= link_to 'Edit', edit_registraion_role_path(registraion_role) %></td>
        <td><%= link_to 'Destroy', registraion_role, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Registraion role', new_registraion_role_path %>
