<!DOCTYPE html>
<html>
<head>
  <title>Ramchandra</title>
  <%#= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>
<div id="templatemo_container">
	<%= render :partial => "colleges/banner" %>
    
    <%= render :partial => "colleges/menu" %>

	<div id="templatemo_content_wrapper">
    	<div id="templatemo_content">
    
    	<div class="column_w210 fl">
        
        	<%= render :partial => "colleges/left" %>
        </div> <!-- end of a column -->
        
        <div class="column_w430 fl vl_divider">
        	
            <%= yield %>        
        </div> <!-- end of a column -->
        
       <div class="column_w210 fl vl_divider">
        
        	<%#= render :partial => "colleges/right" %>
        </div> <!-- end of a column -->
        
        <div class="margin_bottom_20 h_divider"></div>        
        <div class="margin_bottom_20"></div>
        
        <div class="column_w920">
        
          <%= render partial: "colleges/images" %>
        </div>
    
    	<div class="cleaner"></div>
	</div> <!-- end of wrapper 02 -->        
    </div> <!-- end of wrapper 01 -->
    
    <div id="templatemo_footer">
    
    <%= render partial: "colleges/footer" %>
                
   	</div> <!-- end of footer -->
</div> <!-- end of container -->
<!--  Free CSS Template is provided by www.TemplateMo.com  -->
<div align=center>This template  downloaded form <a href='http://all-free-download.com/free-website-templates/'>free website templates</a></div></body>
</html>
